#login{
    height: 100vh;
    background-image: url('../../assets/img/fondo.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;

    .content-login{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .section-image{
            display: flex;
            .circle-img{
                width: 275px;
                height: 275px;
                background-color: rgba(20,20,20,0.5);
                padding: 20px;
                border-radius: 100%;
                z-index: 100;
                position: relative;
                animation: 3s opacity-img;
                -webkit-animation: 3s opacity-img;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                    object-fit: cover
                }
            }

            .circle-top{
                z-index: 1;
                margin-top: -55px;
                margin-right: -180px;
                background-color: var(--color-orange);
                width: 250px;
                height: 250px;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                -o-border-radius: 100%;
                animation: 5s circle-top;
                -webkit-animation: 5s circle-top;
            }
            .circle-bottom{
                z-index: 1;
                margin-top: 170px;
                margin-left: -290px;
                background-color: var(--color-orange);
                width: 250px;
                height: 250px;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                -o-border-radius: 100%;
                animation: 5s circle-bottom;
                -webkit-animation: 5s circle-bottom;
            }
        }

        .section-login{
            margin-left: 70px;
            text-align: center;

            .title{
                font-size: 50px;
                font-weight: 700;
                color: var(--color-white);
                font-family: 'Mukta', sans-serif;
                font-family: 'Overpass', sans-serif;
                font-style: italic
            }
            .text{
                font-size: 15px;
                font-weight: 700;
                color: var(--color-white);
                font-family: 'Mukta', sans-serif;
                font-family: 'Overpass', sans-serif;
                font-style: italic
            }
            .btn-register, .btn-invitado{
                width: 200px;
                margin: 25px auto 0px;
                padding: 10px 5px 10px 12px;
                color: var(--color-white);
                letter-spacing: 5px;
                font-size: 18px;
                font-weight: 700;
                border-radius: 50px;
                text-transform: uppercase;
                background-color: transparent;
                border: 3px solid var(--color-white)
            }
            .btn-register:hover, .btn-invitado:hover{
                color: $colorBlack;
                background-color: var(--color-white);
                cursor: pointer
            }
            #form_login{
                display: flex;
                flex-direction: column;
                margin: 20px 0px;
                label{
                    color: var(--color-white);
                    margin: 10px 0;
                    font-weight: bold;
                    text-align: left;
                }
                input, select{
                    font-size: 14px;
                    padding: 8px;
                    border-radius: 5px;
                    border: none;
                }
            }
        }
    }
}
.none-login{
    animation: 5s none-welcome forwards;
    -webkit-animation: 5s none-welcome forwards;
}
@media(max-width:991px){
    #login{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 50px 0px;

        .content-login{
            height: auto;
            display: block;

            .section-image{
                margin: 0 auto;
                width: 220px;
                justify-content: center;

                .circle-img{
                    width: 180px;
                    height: 180px;
                    margin-top: 40px
                }

                .circle-top{
                    margin-top: 10px;
                    margin-left: -60px;
                    margin-right: -125px;
                    width: 150px;
                    height: 150px
                }
                .circle-bottom{
                    margin-top: 160px;
                    margin-left: -180px;
                    width: 150px;
                    height: 150px
                }
            }

            .section-login{
                margin-left: 0px;
                margin-top: 30px;

                .title{
                    font-size: 30px
                }
                .text{
                    font-size: 13px
                }
                .btn-visit{
                    margin: 20px auto 0px;
                    padding: 7px 0px 7px 4px;
                    font-size: 15px
                }
            }
        }
    }
}
@media(max-height:460px){
    #login{
        height: 100%;
        padding: 60px 0px
    }
}